header {
  background: linear-gradient(to right, #ffffff, #70cbff, #ff3e96, #440097);
  display: flex;
  justify-content: center;
  color: $textColor;
  button {
    background: $primaryBtn;
    &:hover {
      background: #ffdbc8;
    }
  }
}
